<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/layout-error}">

<body>
	<div layout:fragment="content">
		<h1 th:text="${pageTitle}">[Error title]</h1>
		<p th:text="${pageMainDescription}">[Error description]</p>
		<div class="row justify-content-center align-items-center">
			<div class="col-12 col-md-12 d-flex justify-content-center align-items-center">
				<h1>Error!</h1>
				<h3>Something went wrong...</h3>
			</div>
		</div>
	</div>
</body>

</html>
